{{> head }}

    {{> navbar}}

    <div class="row">
        <div class="col-4">
            <h1>la horda de hierro</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, saepe! Officia facilis at dolorem ipsam nihil? Asperiores ex illum consequatur eveniet recusandae nobis adipisci? Unde doloribus quas veniam deserunt deleniti!</p>
        </div>

        <div class="col-8">
            <img src="assets/img/238992.jpg" class="img-thumbnail">
        </div>

    </div>

{{> footer}}